body {
    font-family: "Work Sans";
}
.header-container {
    /* display: flex;
    justify-content: space-between; */
}
.header-main {
   
    background-color: #F1F2F4; 
}
.header-main-container {
   
}
.header-main-block {
  
    display: flex;
    justify-content:center;
}

.header-main-nav {
     display: flex; 
  
    /* margin:20px;     */
    /* font-weight: 500;
    font-size: 18px;
    margin: 0;
   
    color: #727A82; */
}
.header-main-nav li {
/* margin-right:15px; */

}
.header-main-nav li a {
text-decoration:none;
color:#727A82;    
}
.header-main-left {
    /* width: 320px;
    height: 220px;
    padding: 0 0 0 300px; */
}

.header-main-slogan {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 0;
    padding: 40px 0 0 0;
}

.header-main-right {
    width: 360px;
    height: 250px;
    display: flex;
    position: relative;
    
}

.header-main-right-bottom-bg {
    width: 178px;
    height: 135px;
    position: absolute;
    left: -30px;
    bottom: -10px;
}

.header-main-right-foto {
    width: 300px;
    height: 260px;
    z-index: 1;
}

.header-main-right-top-bg {
    width: 232px;
    height: 176px;
    position: absolute;
    right: 30px;
}


.select-container {
    display: flex;
    justify-content: right;
}
.filter-by {
 
    margin: 30px 0px 0 0;
 padding:10px;
font-size:18px;
width:243px;
border:2px solid black;
font-family:"Work Sans";    
}

/* CATALOG_CARDS */

.catalog-cards {
/* width:1366px;
height:750px;
padding-top:110px; */

}

.catalog-card-container {
display:flex;
flex-wrap:wrap;
justify-content: space-around;



}
.card {
width:243px;
height:334px;
/* margin-right: 66px; */

font-weight:500;
font-size:18px;
}
.catalog-image {
width:243px;
height:270px;

}
.card-name {
margin:10px 0 0 0 ;
}
.card-price {
margin:10px 0 0 0;
font-weight:700;
font-size:16px;
}
.catalog-slider-button-block {
/* text-align:center; */


}
.catalog-slider-button-block-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.catalog-button-slider {
font-weight:400;
font-size:18px;
position:relative;
color: #151C22;
}
.catalog-button-slider::after {
content: "";
width:60px;
height:5px;
background-color:#151C22;
/* display:block; */
position:absolute;
left:0px; 
top:25px;
}

.catalog-button {
width:200px;
height:64px;
margin-top:30px;
background-color:#151C22;
color:white;
font-weight:700;
font-size:16px;
}



footer {
    margin-top: 100px;
    
}
.footer-container {
    /* display: flex; */
}
