@font-face {
  font-family: "Work Sans";
  src: url(../fonts/Work_Sans/WorkSans-Medium.ttf);
}
@font-face {
  font-family: "Work Sans Extra Bold";
  src: url(../fonts/Work_Sans/WorkSans-ExtraBold.ttf);
}
@font-face {
  font-family: "Anton-Regular";
  src: url(../fonts/Anton/Anton-Regular.ttf);
}

body {
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  /* padding: 0 10px; */
}
header {
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation {
  display: flex;
  padding: 26px 0;
}

.header-navigation-list {
  display: flex;
  list-style: none;

  align-items: center;
}

.header-navigation li:not(:last-child) {
  margin-right: 42px;
  font-size: 16px;
}
.header-navigation-li a {
  text-decoration: none;
  color: black;
  font-family: "Work Sans";
  font-weight: 500;
}
.header-navigation li:nth-child(2) {
  margin-right: 35px;
}

.header-navigation-caption {
  font-family: "Work Sans Extra Bold", sans-serif;
 margin-right: 80px;
  font-size: 24px;
  font-weight: 800;
  font-style: normal;
}

.header-navigation-search {
  align-self: center;
}

.header-navigation-link-image img {
  width: 18px;
}

.header-navigation-search a:nth-child(2) {
  margin-left: 35px;
}

/* HEADER-MAIN-SECTION */
.header-main-section {
  background-color: #f1f2f4;
}
.main-container {
  position: relative;
  height: 617px;
}
.header-main-bottom-arrow {
  position: absolute;
  width: 10px;
  height: 27px;
  left: 98px;
  bottom: 40px;
}
.header-main-bottom-arrow img {
  /*   width:10px; */
  height: 27px;
}
/*header-main-left-side*/

.header-main-left-side {
  width: 330px;
  height: 280px;
  display: flex;
  flex-direction: column;
  padding: 192px 0 169px 173px;
}

.header-main-left-side-slogan {
  font-size: 18px;
  font-family: "Work Sans";
  color: #727a82;
  margin-bottom: 25px;
}

.header-main-left-side-caption {
  font-size: 120px;
  width: 305px;
  font-weight: 400;
  margin: 0;
  line-height: 100px;
  font-family: "Anton-Regular";
  margin-bottom: 50px;
}
.header-main-left-side-button {
  width: 219px;
  height: 64px;
  background-color: black;
  color: white;
  font-family: "Work Sans";
  font-size: 16px;
  margin-botton: 30px;
}

/* header-main-right-side */
.header-main-right-side {
  width: 530px;
  height: 627px;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
.header-right-top-bg {
  width: 232px;
  height: 176px;
  position: absolute;
  left: -140px;
  top: 0;
}
.header-right-main-foto {
  width: 430px;
  height: 517px;
  position: absolute;
  top: 50px;
  right: 170px;
  z-index: 1;
}
.header-right-bottom-bg {
  width: 232px;
  height: 176px;
  position: absolute;
  bottom: 10px;
  right: 100px;
}

/* main-content-section1 */

.main-content-section1 {
}
.bestseller-container {
  margin-top: 130px;
}
.section1-top-slogan-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.section1-top-slogan-block-h2 {
  font-family: "Work Sans";
  font-size: 32px;
  font-weight: 700;
}
.section1-top-slogan-block-link {
  font-family: "Work Sans";
  font-size: 18px;
  font-weight: 500;
  align-self: center;
  margin-right: 120px;
}

/* SECTION1-CARDS */

.section1-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.section1-card {
  width: 270px;
  height: 410px;
  
}
.section1-card-name {
  font-family: "Work Sans";
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0 0 0;
}
.section1-card-price {
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0 0 0;
}

/* SECTION2 NEWS*/
.section2 {
}
.news-container {
  margin-top: 108px;
}
.section2-top-slogan-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 71px;
}
.section2-top-slogan-block-h2 {
  font-family: "Work Sans";
  font-size: 32px;
  font-weight: 700;
}
.section2-top-slogan-block-link {
  font-family: "Work Sans";
  font-size: 18px;
  font-weight: 500;
  align-self: center;
  margin-right: 40px;
}

/* SECTION2-NEWS */

.section2-main {
  width: 1165px;
  height: 462px;
  display: flex;
  
  position: relative;
}
.section2-left-foto {
  width: 700px;
  height: 370px;
}
.section2-bg {
  width: 465px;
  height: 462px;
}
.section2-right-block-news {
  width: 400px;
  height: 397px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 65px;
  top: 30px;
  background-color: #f1f2f4;
}
.section2-right-block-news-caption {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 24px;
  padding-left: 43px;
  padding-top: 51px;
  margin-bottom: 27px;
}
.section2-right-block-news-span {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 18px;
  padding-left: 43px;
  margin-bottom: 13px;
  color: #727a82;
}
.section2-button {
  width: 200px;
  height: 64px;
  background-color: black;
  color: white;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 16px;
  margin-left: 43px;
  margin-top: 24px;
}

/* SECTION3-SHOP-CATEGORY */

.section3 {
  
}
.section3-container {
  margin: 109px auto 130px auto;
}
.section3-wrapper {
 
}
.section3-caption-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.section3-left-caption {
  margin-left: 80px;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 32px;
}
.section3-right-link {
  margin-right: 40px;
  align-self: center;
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 18px;
}
.section3-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section3-card {
  
}
.section3-card-name {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 18px;
}

/* FOOTER */
footer {
 
  background-color: #151c22;
  color: white;
  
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-caption {
  /* text-align: center; */
  padding: 50px 0 32px 0;
  font-family: "Work Sans";
  font-weight: 800;
  font-size: 24px;
}
.footer-list {
  display: flex;
  list-style: none;
  
}
.footer-list li {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 18px;
  margin-right: 35px;
}

.footer-social-block {
  display: flex;
  height: 20px;
  
  padding: 36px 0 49px 0;
}
.footer-social-block img {
  margin-right: 30px;
}
